<!DOCTYPE HTML>

<html>
{% block head %}
<head>
	<title>Awit</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
	<link rel="icon" href="{{ asset('assets/images/awit.png') }}" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>
{% endblock %}
{% block header %}
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="logo">
				<img class="logo" src="{{ asset('assets/images/awit_white.png') }}">
			</div>
			<div class="content">
				<div class="inner">
					<h1>Awit</h1>
					<p>La musique qui v'Avit</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#">Login</a></li>
					<li><a href="{{ path('tiers.index') }}">Tiers</a></li>
					<li><a href="{{ path('musique.index') }}">Musique</a></li>
					<li><a href="{{ path('about.index') }}">A propos</a></li>
					<li><a href="{{ path('contact.index') }}">Contact</a></li>
					<!--<li><a href="#elements">Elements</a></li>-->
				</ul>
			</nav>
		</header>
		{% endblock %}
		{% block main %}
		
		{% endblock %}
		{% block footer %}
		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; MOI.</p>
		</footer>
		{% endblock %}
	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/js/browser.min.js') }}"></script>
	<script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ asset('assets/js/util.js') }}"></script>
	<script src="{{ asset('assets/js/main.js') }}"></script>

</body>

</html>